@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://fonts.googleapis.com/css?family=Trochut:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Sail|Playball|Lobster+Two:400,700|Belleza|Roboto+Condensed:400,300);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* CSS Document */
body{
	color: white;
    font-family: 'Roboto';
	height:80%;
	width:100%;
	margin:0px;
	padding:0px;
	background: rgba(235,235,235,1);
	
	
	}
.body{
	width: auto;
	height: auto;
	margin:0px;
	padding:0px;
	background: rgba(235,235,235,1);
	background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(43,42,43,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(100%, rgba(43,42,43,1)));
	background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(43,42,43,1) 100%);
	background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(43,42,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(43,42,43,1) 100%);
	background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(43,42,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#2b2a2b', GradientType=0 ); 
	}
/*Titulo*/
.title {
	margin-left: 10px;
	margin-top: 100px;
	width: auto;
	}
	
.title1 {
	margin-left: 10px;
	margin-top: 50px;
	width: 900px;
	height: 35px;
	}
	
	.subtitle {
	margin-left: 10px;
	margin-top: 40px;
	width: auto;
	padding: 0;
	border: 0;
	font-size: 26px;
	vertical-align: baseline;
	display: block;
	}
	
	.subbottom {
	margin-left: 10px;
	margin-top: 40px;
	width: auto;
	padding: 0;
	padding-bottom: 40%;
	border: 0;
	font-size: 26px;
	vertical-align: baseline;
	display: block;
	}
	
	.sub {
	margin-left: 10px;
	margin-top: 40px;
	width: auto;
	padding: 0;
	border: 0;
	font-size: 26px;
	vertical-align: baseline;
	display: block;
	}
	
	
.Three-Dee{
font-family: 'Lobster', cursive;
line-height: 1em;
color: #ff0091;
font-weight:bold;
margin: 10px;
font-size: 140px;
text-shadow:0px 0px 0 rgb(244,-11,134),1px -1px 0 rgb(239,-16,129),2px -2px 0 rgb(235,-20,125),3px -3px 0 rgb(231,-24,121),4px -4px 0 rgb(227,-28,117),5px -5px 0 rgb(222,-33,112),6px -6px 0 rgb(218,-37,108),7px -7px 0 rgb(214,-41,104),8px -8px 0 rgb(209,-46,99),9px -9px 0 rgb(205,-50,95),10px -10px 0 rgb(201,-54,91),11px -11px 0 rgb(196,-59,86),12px -12px 0 rgb(192,-63,82),13px -13px 0 rgb(188,-67,78),14px -14px 0 rgb(184,-72,73),15px -15px 0 rgb(179,-76,69),16px -16px 0 rgb(175,-80,65),17px -17px 0 rgb(171,-84,61),18px -18px 0 rgb(166,-89,56),19px -19px 0 rgb(162,-93,52), 20px -20px 0 rgb(158,-97,48),21px -21px 20px rgba(0,0,0,0.45),21px -21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2); }

.Three-Dee1 {
font-family: 'Lobster', cursive;
line-height: 10px;
color: #ff0091;
font-weight:bold;
margin: 0px;
font-size: 36px;
text-shadow:0px 0px 0 rgb(244,-11,134),1px -1px 0 rgb(239,-16,129),2px -2px 0 rgb(235,-20,125),3px -3px 0 rgb(231,-24,121),4px -4px 0 rgb(227,-28,117),5px -5px 0 rgb(222,-33,112),6px -6px 0 rgb(218,-37,108),7px -7px 0 rgb(214,-41,104),8px -8px 0 rgb(209,-46,99),9px -9px 0 rgb(205,-50,95),10px -10px 0 rgb(201,-54,91),11px -11px 0 rgb(196,-59,86),12px -12px 0 rgb(192,-63,82),13px -13px 0 ,0px 0px 20px rgba(0,0,0,.2); }

