/*
                           
                   , __                         _          _  
                  /|/  \                    o  | |        | | 
                   | __/ _   __,        _|_    | |        | | 
                   |   \|/  /  |  |   |  |  |  |/  |   |  |/  
                   |(__/|__/\_/|_/ \_/|_/|_/|_/|__/ \_/|_/|__/
                                               |\             
                                               |/             
                  _                       _                     
                 | |                     | |                    
                 | | _  _  _|_  _   ,_   | |  __,   __   _   ,  
               _ |/ / |/ |  |  |/  /  |  |/  /  |  /    |/  / \_
               \_/\/  |  |_/|_/|__/   |_/|__/\_/|_/\___/|__/ \/ 
                                         |\                     
                                         |/                     
  
 					           The Deep in the Void
                                     
*Beautiful Interfaces: The Deep in the Void for The Wrong - New Digital Art Biennale
Curator: Miyö Van Stenis
http://www.thedeepinthevoid.com/
http://www.thewrong.org/
http://miyovanstenis.com/
*/
.fl 
{
float:left;
}

.fr 
{
float: right;
}
.clear { clear: both; line-height: 0px !important; font-size: 0px !important; height: 0 !important }


a 
{
   color:   #FFF; 
   font-weight: bold;
}

b 
{
   color: #FFF; 
   font-weight: bold;
}

.duration 
{
    font-size:10px;
    color:#FFF;
}

.btn.play 
{
    width:16px;
    height:17px;
    background-image: url(i/play.gif);
    display: inline-block;
}

.btn.pause
{
    width:16px;
    height:17px;
    background-image: url(i/pause.gif?2);
}

.btn.paused
{
    width:16px;
    height:17px;
    background-image: url(i/play.gif?3);
    display: inline-block;
}


div.player 
{
    width:380px;
    height:14px;
    margin-top:5px;
    padding-left:20px;
}

div.player.inactive
{
    margin-top:5px;
    margin-bottom:0px;
    border-top: dashed 1px #FFF;
}

.item .title 
{
    -vertical-align:middle;
}

.item .btn 
{
    display:inline;
    float:left; 
    margin-right:5px;
    cursor:pointer;
}
